/*============start  media query===========*/
//media maxsize 992px
@include media(maxlg)
{
	//top bar mobile style
	.top-nav
	{
		.setting
		{
			ul
			{
				    padding: 0.5rem 0;
			}
		}
	}
	//nav mobile style
	nav
	{
		.dropdown-menu
		{
			border: 0;
		    min-width: auto;
		    padding: 0.5rem 0;
		    margin: 0;
		    font-size: 1rem;
		}
		.dropdown-item
		{
			padding-left:0;
			font-size:1.5rem;
		}
		.navbar-collapse
		{
			position: fixed;
		    left: 0;
		    right:10%;
		    top: 0;
		    bottom: 0px;
		    font-size: 1.2rem;
		    padding: 0;
		    text-align: left;
		    border:0;
		    overflow-y:auto;
		    z-index: 999;
			@include boxshadow(0 0 1em $textcolor1);
			.title
			{//title view in mobile
				display: block;
			}
		}
		.nav-item
		{
			border-bottom:1px solid $textcolor1;
			padding:0.5rem 0;
			font-size:1.5rem;
		}
		.nav-item:last-of-type
		{
			border:0;
		}
		.navbar-nav,.shop-basket
		{
			padding:0 1rem;
		}
		.collapse
		{
			display: block;
		}	
	}
}
//media maxsize 768px
@include media(maxmd)
{
//header style in mobile 
	.top-nav
	{
		.logo img
		{
			height: 30px;
		}
		.right-btn,
		.logo
		{
			text-align:center;
		}
	}
	.ad
	{	
		img
		{
			height:100px;
		}
	}
}
//media maxsize 575px
@include media(xs) 
{
	.top-nav
	{
//main-dropmenu style for mobile
		 .main-dropmenu
		 {
			position: fixed;
		    left: 0;
		    right: 10%;
		    top: 0;
		    bottom: 0px;
		    font-size: 1.2rem;
		    padding: 0;
		    text-align: center;
		    border:0;
		    overflow-y:auto;
		    display:block;
		    z-index: 999;
			@include boxshadow(0 0 1em $textcolor1);
		    .title
		    {//view in mobile
				display: block;
			}
		}
	 	.setting-list
	 	{
			padding:0 15%;
		}
	}
	.ad
	{	
		img
		{
			height:50px;
		}
	}
// item-basket
	.item-basket
	{
		.item-content
		{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
		.item-img
		{
			img
			{
				height: 100%;
			}
		}
		.check-out
		{
			.btn
			{
				display: block;
				margin:0.5rem 0;
			}
		}
	}
//items slider view in mobile
	.items-name
	{
		text-align: center;
	}
	.row-setting
	{
		-webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
	}
	.slider-arrow
	{
		display: none;
	}
	.img-btn
	{
		display: inline-block!important;
		top: auto!important;
		bottom:5%!important;
	}
}
//media minisize 1200px
@include media(xl)
{
}
//media minisize 992px
@include media(lg)
{
	nav 
	{
		.has-item
		{
			position: static;//bootstrap Restore
		}
	}
}
//media minisize 768px
@include media(md)
{
}
//media minisize 576px
@include media(sm)
{
}
/*============end  media query===========*/